.arrow-size-detail{
	font-size:10px;
	}
	input[type=text] {
       
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/detail/ic_search_48px-128.png);
    background-position: 8px 2px;
    background-repeat: no-repeat;
    padding: 4px 20px 8px 45px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


.get-free-cologene{
	height:35px;
	background-color:#bb0000;
	border:none;
	color:white;
	width:100%;
	}
.nav>li>a:focus, .nav>li>a:hover {
   
     background-color:transparent; 
}
#Subscribe-today{
	border:1px solid #d8d8d8;
	}
.subscribe-button-belowbordr{
	height:30px;
	background-color:#ff0000;
	border:none;
	color:white;
	width:66.5%;
	}
.border-myperfum-queu{
	border:1px solid #d8d8d8;
	}
.border-myperfum-botls{
	border:1px solid #ff0000;
	box-shadow: 0px 0px 1px 1px;
	border-radius:5px;
	}

.hover-button:hover{
	border:1px solid #ff0000;
	
	
	}
.Quick-view-button{
	height:20px;
	background-color:#ff0000;
	border:none;
	color:white;
        
	
	}
.add-queu{
	height:30px; 
	background-color:#ff0000;
	border:none;
	color:white;
       
	

	}
	
.showme{ 
display: none;
z-index:-1;
margin-top:-10px;
}
.showhim:hover .showme{
display : block;
}
.add-que11{
	display: none;
	z-index:1;
        margin-bottom:-10px;
	}
	.showhim:hover .add-que11{
display : block;
}
.pic-position{
	margin-left:60px;
	}
        #mobile_width{
            display: none;
        }
@media screen and (max-width: 992px) {
    .pic-position{
	margin-left:0px;
	}
#responsive-positon{
	padding-right:37px;
	}
	.subscribe-button-belowbordr{
	height:30px;
	background-color:#441640;
	border:none;
	color:white;
	width:100%;
	}
	.border-myperfum-botls{
	border:1px solid #d8d8d8;
	box-shadow: 0px 0px 1px 1px;
	border-radius:5px;
	padding-right:20px;
	}
        #full_width{
            display: none;
        }
        #mobile_width{
            display:inline-table;
        }
	
	}
    @media screen and (max-width: 768px) {
    #full_width{
            display: none;
        }
        #mobile_width{
            display:inline-table;
        }
    }
        

